@model IEnumerable<WaySpot.Models.Hold>

@{
    ViewBag.Title = "Index";
}

<h2>WaySpot!</h2>
<h4>@DateTime.Now</h4>
<div id="statusIndicator">
    <div hidden id="taken"><img src="~/Content/red.jpg" /><br />Taken</div>
    <div hidden id="free">
<img src="~/Content/green.jpg" /><br />Free</div>
</div>

<div class="">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Person)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoldDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Person)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoldDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
            </tr>
        }

    </table>
</div>
<p>
    @Html.ActionLink("Create New", "Create", "Holds")
</p>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            
            // TODO: Ajax stubbed out to pass objects to controller to be parsed into workable DAL objects.  More work to be done here.
            $.ajax({
                type: 'GET',
                url: '/Holds/GetHoldDate/',
                dataType: 'json',
                data: {},
                success: function (data) {
                    var holds = data;
                    if (holds.data.length > 0) {
                        $('#taken').show();
                        $('#free').hide();
                    } else {
                        $('#taken').hide();
                        $('#free').show();
                    }
                    console.log(holds.data.length);
                    //console.log(data);
                },
                error: function (xhr, ajaxOptions, error) {
                    alert(xhr.status);
                    alert('Error: ' + xhr.responseText);
                }
            });
        });
    </script>
}