@model IEnumerable<WaySpot.Models.Hold>

@{
    ViewBag.Title = "Home";
}

<h4 id="estTime"></h4>
<div id="statusIndicator">
    <div hidden id="taken"><img src="~/Content/red.jpg" /><p><strong>The spot is currently TAKEN by <span id="person"></span>.</strong></p></div>
    <div hidden id="free">
        <img src="~/Content/green.jpg" /><br />Free
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Reservation History</div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Person)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoldDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Person)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoldDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
            </tr>
        }

    </table>
    <div class="panel-footer">
        @Html.ActionLink("Create New Reservation", "Create", "Holds")
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            // TODO: Ajax stubbed out to pass objects to controller to be parsed into workable DAL objects.  More work to be done here.
            $.ajax({
                type: 'GET',
                url: 'http://wayspot.azurewebsites.net/Holds/GetHoldDate/',
                dataType: 'json',
                data: {},
                success: function (data) {
                    var holds = data;
                    if (holds.data.length > 0) {
                        $('#person').html(holds.data[0].Person);
                        $('#taken').show();
                        $('#free').hide();
                    } else {
                        $('#taken').hide();
                        $('#free').show();
                    }
                    $('#estTime').html(data.estTimeString);
                    console.log(holds.data.length);
                    console.log(data);
                },
                error: function (xhr, ajaxOptions, error) {
                    alert(xhr.status);
                    alert('Error: ' + xhr.responseText);
                }
            });
        });
    </script>
}